<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="web" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="keycloak" />
    <module name="crypto-vault-service" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="io.openleap.template.TemplateServiceApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>